button{
  padding: 5px 10px;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  /* align-items: baseline; */
}

