.cards-item {
    color: #f8f9fa;
    background: #343a40;
    border: 1px solid #003566;
    margin: 25px 5px;
    width: 345px;
    border-radius: 10px;
    overflow: hidden;
    height: 550px;
}

.cards-item img{
    width:  100%;
    height: 200px;
    /* margin: auto; */
}

.card-content{
    padding: 0 20px;
    line-height: 1;
}
.card-content p{
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
}
.card-content .card-title h2  {
    letter-spacing: 3px;
}